<div class="catalog_all">
  <% @catalogs.each do |catalog| %>
    <div class="product">
      <div class="title">
        <%= link_to catalog.title, catalog %>
      </div>
      <div class="photo">
        <img src="http://chairshop.ru/img/p/57-151-large.jpg" alt="" width="150" height="150">
      </div>
      <div class="info">
        <p>Цена: <%= catalog.price %> тенге</p>
        <p>Габариты: <%= catalog.dimensions %></p>
        <p class="created_at">Дата добавления: <%= date(catalog.created_at) %></p>
      </div>
    </div>
  <% end %>  
</div>
<%= will_paginate @catalogs %>

