<div class="show_catalog">
  <% if notice %>
    <div class="notice">
      <%= notice %>
    </div>
  <% end %>
  <div class="title">
    <%= @catalog.title %>
  </div>
  <div class="photo">
    <%= image_tag @catalog.photo.url(:medium) %>
  </div>
  <div class="info">
    <p><span>Цена:</span> <%= @catalog.price %> тенге</p>
    <p><span>Габариты:</span> <%= @catalog.dimensions %></p>
    <p><span>Описание:</span> <%= @catalog.description %></p>
  </div>
  <div class="properties">
    <ul>
      <li><img src="/images/removable_cover.jpg" alt="Внешний чехол" title="Внешний чехол" /></li>
      <li><img src="/images/reinforce.jpg" alt="Усиленный шов" title="Усиленный шов" /></li>
      <li><img src="/images/topstitched.jpg" alt="Отсрочка" title="Отсрочка" /></li>
      <li><img src="/images/double_zipped.jpg" alt="Два протектерных замка" title="Два протектерных замка" /></li>
      <li><img src="/images/gamer.jpg" alt="Удобно для игр" title="Удобно для игр" /></li>
      <li><img src="/images/cotton.jpg" alt="Хлопок" title="Хлопок" /></li>
      <li><img src="/images/washable.jpg" alt="Машинная стирка" title="Машинная стирка" /></li>
    </ul>
  </div>
</div>
<div class="comments">
  <p class="title">Комментарии:</p>
  <div id="vk_comments"></div>
  <script type="text/javascript">
  VK.Widgets.Comments("vk_comments", {limit: 10, width: "570", attach: "*"});
  </script>
</div>