<div class="posts">
  <% if notice %>
    <div class="notice">
      <%= notice %>
    </div>
  <% end %>
  <% @posts.each do |post| %>
    <div class="post">
      <div class="title">
        <%= link_to post.title, post %>
      </div>
      <div class="body">
        <%= post.body %>
      </div>
      <div class="info">
        Дата публикации: <%= date(post.created_at) %>
      </div>
      <% if session[:user_id] %>  
        <div class="actions">
          <%= link_to "Редактировать", edit_post_path(post) %>
          <%= link_to "Удалить", post, :confirm => "Уверены?", :method => :delete %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= will_paginate(@posts) %>