<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
  <title><%= title %></title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js' %>
  <%= javascript_include_tag 'rails', 'application' %>

  <%= csrf_meta_tag %>
</head>
<body>
    <div class="wrapper">
      <div class="header">
        <div id="logo">
          <a href="<%= root_path %>"><img src="/images/logo.png" alt="KresloMeshok.kz" /></a>
        </div>
        <%= render('layouts/menu') %>
        <div id="phone">
          <span id="text">Наш телефон:<br />8(777)694-84-08</span>
        </div>
      </div>
      <div class="slider">
        <%= yield %>
      </div>
      <%= render('layouts/bottomcontent') %>
      <%= render('layouts/footer') %>
    </div>
</body>
</html>
